@{
    ViewData["Title"] = "Index";
}


<div class="card bg-warning">
    <div class="card-body">
        <p class="card-text">In top-left, there is a an icon with 3 line. You can click that icon and see the surveys
            that you didn't participate yet.</p>
    </div>
    <p>Successful</p>
</div>