@model List<SurveyViewModel>
@{
    ViewData["Title"] = "Surveys";
}


<div class="card bg-warning">
    <div class="card-body">
        <p class="card-text">In top-left, there is a an icon with 3 line. You can click that icon and see the surveys
            that you didn't participate yet.</p>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var survey in Model)
        {
            <li class="list-group-item">@survey.Name --><a asp-action="Update" asp-controller="Survey" asp-area="Admin"
                    asp-route-id="@survey.Id">Update</a></li>
        }
    </ul>
</div>