<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Survey.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Survey.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="deneme">
        <div class="my-grid">
            <div class="empty-nav">
                <nav class="navbar bg-dark border-bottom border-body h-100 d-flex justify-content-center align-items-center"
                    data-bs-theme="dark">
                    <p style="font-size: 30px; color:white;" class="">Deneme1 Survey</p>
                </nav>
            </div>
            <div class="profile">
                <nav class="navbar navbar-dark bg-dark w-100 h-100">
                    <div class="container-fluid d-flex justify-content-center">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
            </div>
            <div class="menu bg-dark">
                <div class="collapse h-100 w-100" id="navbarToggleExternalContent" data-bs-theme="dark">
                    <div class="bg-dark p-4 h-100 w-100">
                        <div class="d-flex">
                            <div class="vr">
                                <a class="btn btn-secondary" href="#">User</a>
                                <div class="dropdown z-1">
                                    <a class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Dropdown button
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item text-dark" href="#">Action</a></li>
                                        <li><a class="dropdown-item text-dark" href="#">Another action</a></li>
                                        <li><a class="dropdown-item text-dark" href="#">Something</a></li>
                                    </ul>
                                </div>
                                <a class="btn btn-secondary" href="#">deneme1</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content h-100 w-100">
                @RenderBody()
            </div>
        </div>
    </div>
    
    
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Survey.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
