@{
    ViewData["Title"] = "Index";
}



<div class="my-grid">
    <div class="empty-nav">
        <nav class="navbar bg-dark border-bottom border-body h-100 d-flex justify-content-center align-items-center"
            data-bs-theme="dark">
            <p style="font-size: 30px; color:white;" class="">Deneme1 Survey</p>
        </nav>
    </div>
    <div class="profile">
        <nav class="navbar navbar-dark bg-dark w-100 h-100">
            <div class="container-fluid d-flex justify-content-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </div>
    <div class="menu">
        <div class="collapse h-100 w-100" id="navbarToggleExternalContent" data-bs-theme="dark">
            <div class="bg-dark p-4 h-100 w-100">
                <div class="d-flex">
                    <div class="vr">
                        <a href="#">deneme1</a>
                        <a href="#">deneme2</a>
                        <a href="#">deneme3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content h-100 w-100">
        <div class="card bg-warning">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">A fifth item</li>
            </ul>
        </div>
    </div>
</div>
