@model IdentityUser
@{
    ViewData["Title"] = "Index";
}




<div class="card bg-warning">
    <div class="card-body">
        <p class="card-text">In top-left, there is a an icon with 3 line. You can click that icon and see the surveys that you didn't participate yet.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">User: @Model.Email</li>
        <li class="list-group-item"><a asp-area="User" asp-controller="User" asp-action="ChangePassword">Change User Information</a></li>
    </ul>
</div>