@model SurveyViewModel
@{
    ViewData["Title"] = "Survey";
}
<p class="card-text bg-warning">In top-left, there is a an icon with 3 line. You can click that icon and see the surveys that
    you didn't participate yet.</p>



<p>@Model.Name</p>
<p>@Model.Id</p>
